{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Software</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idsoftware</th>
                <td>{{ entity.idSoftware }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ entity.categoria }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('software') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('software_edit', { 'id': entity.idSoftware }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
