{% extends '::base.html.twig' %}

{% block body -%}
    <h1>EstadoAccesoAmbientes</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idestado</th>
                <td>{{ entity.idEstado }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('estadoaccesoambientes') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('estadoaccesoambientes_edit', { 'id': entity.idEstado }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
