{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ingreso</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idingreso</th>
                <td>{{ entity.idIngreso }}</td>
            </tr>
            <tr>
                <th>Tag</th>
                <td>{{ entity.tag }}</td>
            </tr>
            <tr>
                <th>Fechacompleta</th>
                <td>{{ entity.fechaCompleta|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ingreso') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('ingreso_edit', { 'id': entity.idIngreso }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
