{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Elemento</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idelemento</th>
                <td>{{ entity.idElemento }}</td>
            </tr>
            <tr>
                <th>Marca</th>
                <td>{{ entity.marca }}</td>
            </tr>
            <tr>
                <th>Serial</th>
                <td>{{ entity.serial }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ entity.observaciones }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('elemento') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('elemento_edit', { 'id': entity.idElemento }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
