{% extends '::base.html.twig' %}

{% block body -%}
    <h1>CalendarioEvento list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Idcalendario</th>
                <th>Dia</th>
                <th>Hora</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('calendarioevento_show', { 'id': entity.idCalendario }) }}">{{ entity.idCalendario }}</a></td>
                <td>{% if entity.dia %}{{ entity.dia|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.hora }}</td>
                <td>{{ entity.estado }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('calendarioevento_show', { 'id': entity.idCalendario }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('calendarioevento_edit', { 'id': entity.idCalendario }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('calendarioevento_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
