{% extends '::base.html.twig' %}

{% block body -%}
  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading" id="cabecera"><h1>Usuario<img src="{{ asset('/recursos/logob.png') }}" alt="logo" width="50" align="right"/></h1></div>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idusuario</th>
                <td>{{ entity.idUsuario }}</td>
            </tr>
            <tr>
                <th>Cedula</th>
                <td>{{ entity.cedula }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Tag</th>
                <td>{{ entity.tag }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Foto</th>
                <td>{{ entity.foto }}</td>
            </tr>
        </tbody>
    </table>
{{ form(delete_form) }}
<div id="prueba2">
        <ul class="record_actions">
<a class="btn btn-lg btn-primary" id="boton" href="{{ path('usuario_edit', { 'id': entity.idUsuario }) }}" role="button">Editar</a>
<a class="btn btn-lg btn-primary" id="boton" href="{{ path('usuario') }}" role="button">Regresar a la lista</a>                        
<a class="btn btn-lg btn-primary" id="boton" href="{{ path('crud') }}" role="button">Regresar al inicio</a> 
<img src="{{ asset('/recursos/logob.png') }}" alt="logo" width="50" align="right"/>
        </ul>
 </div>  
  </div>
{% endblock %}
